# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5fd0f2e0dfb736a7c919164e370b4231881a065de8e08d809e91892df7575b44e337d9a7771765906ecdbc1e404e0baef331a67d580eaff09212d1e306ddbe15

test:
  secret_key_base: 44c41314035bf4984b55dc405a02d4a1f58f58a782d27e50462859ad529fa58c198907747da5ad26880c7ccd0465e45a8cae549c24572f742f87ad6ba992490b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
